.timeRange{
    justify-content: space-between;
    &__info{
        flex: 1 1 380px;
        align-self: center;
    }
    &__bar{
        flex: 1 0 300px;
        display: flex;
        justify-content: center;
        &_inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 280px;
        }
    }
}