.flipItem {
    position: relative;
    width: 280px;
    height: 360px;
    border-radius: 20px;
    &__wrapper {
        height: 330px;
        position: relative;
        perspective: 1000px;
        padding: 5px;
    }
    &__img {
        height: 80%;
    }
    &__delete {
        position: absolute;
        top: -23px;
        right: -26px;
        &_color {
            fill: rgb(41, 41, 41);
        }
    }
    &__front {
        position: relative;
        img {
            height: 100%;
        }
    }
    &__name {
        padding: 20px 10px;
        text-align: center;
    }
    &__front,
    &__back {
        width: 95%;
        height: 95%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s linear;
        backface-visibility: hidden;
        border: solid 4px black;
        padding: 5px;
        border-radius: 20px;
    }
    &__front {
        //transform: rotateY(180deg);
        padding-bottom: 20px;
    }
    &__back {
        padding: 10px 10px 15px 10px;
        transform: rotateY(180deg);
        justify-content: flex-start;
        &_desckr {
            flex: 1 0 auto;
            padding: 10px 10px 0 10px;
            border: 2px solid black;
            border-radius: 20px;
        }
        &_parts {
            text-align: center;
            padding: 5px 10px;
            border: 2px solid black;
            border-radius: 20px;
        }
    }
    &__hoverBack {
        &:hover {
            .flipItem__front {
                background-color: rgb(143, 140, 140);
            }

            transition: all 0.5s linear;
            transform: translate(0, -10px);
        }
    }
    &__coup {
        &:hover {
            .flipItem__front {
                transform: rotateY(180deg);
            }
            .flipItem__back {
                transform: rotateY(360deg);
            }
        }
    }
}
