.targetRange{
    justify-content: space-between;
    &__info{
        flex: 1 1 380px;
        align-self: center;
    }
    &__bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 380px;
    }
}