@import "../../../styles/fontSize.scss";
@import "../../../styles/effects.scss";
@import "../../../styles/buttons.scss";
.itemTrenings {
    &__item {
        margin-top: 30px;
        display: grid;
        grid-template-columns: minmax(200px, 250px) minmax(200px, 400px) minmax(100px, 1fr);
        column-gap: 20px;
        border: solid 2px black;
        padding: 20px 10px;
        border-radius: 20px;
        position: relative;
        &_active {
            @extend .itemTrenings__item;
            border: solid 4px rgb(151, 28, 28);
            transform: translate(0, -15px);
            transition: all 0.7s;
            .itemTrenings__item_favorites {
                border: 2px solid rgb(150, 33, 33);
            }
        }

        &_func {
            display: grid;
            grid-template-columns: repeat(3, 34px);
            justify-content: space-between;
            gap: 15px;
        }
        &_btn {
            display: block;
            margin-top: 15px;
            @extend .baseButton;
        }
        &_exercise {
            @extend .defaultFont_big;
        }
        &_content {
            padding-left: 15px;
        }
        &_forDelete,
        &_favorites {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 34px;
            height: 34px;
            cursor: pointer;
            &:hover {
                border: 3px solid rgb(134, 44, 44);
                transform: translateY(-6px);
                transition: all 0.3s;
            }
        }
        &_forDelete {
            border-radius: 5px;
            span {
                width: 80%;
                height: 2px;
                background-color: black;
                position: relative;
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    top: 10px;
                }
                &::before {
                    top: -10px;
                }
            }
        }
        &_cross {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: solid 2px black;
            position: relative;
            transition: all 0.2s;
            &::after {
                content: "";
                position: absolute;
                width: 90%;
                height: 3px;
                background-color: black;
                top: 48%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &::before {
                content: "";
                position: absolute;
                width: 90%;
                height: 3px;
                background-color: black;
                top: 48%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(135deg);
            }
            &:active {
                transform: rotate(45deg);
                background-color: red;
            }
            &:hover {
                transform: translate(0, -10%);
                border: solid 2px rgb(158, 7, 7);
            }
        }
        &_img {
            background-color: black;
            border-radius: 20px 30px 50px 20px;
        }
        &_name {
            @extend .defaultFont_big;
            font-weight: 700;
            padding-left: 15px;
        }
        &_date {
            margin-top: 10px;
            @extend .defaultFont_big;
        }
    }
}
