.gantelSvg * {
    fill: grey;
}
.daysSvg {
}
.treningsSvg {
    fill: rgb(87, 81, 81);
}
.backBtn {
    fill: white;
    animation: show 0.3s linear;
}
.listSvg {
    fill: white;
}
.bottle {
    fill: white;
}
.run {
    fill: white;
}
.timer {
    fill: white;
}
.gantelSquare {
    fill: white;
}
.locker {
    fill: white;
}
.dumbbell {
    fill: white;
}
