.viewAddRepeats {
    &__wrapper{
        max-width: 750px;
        
    }
    &__repeats{
        padding: 10px;
    }
    &__header{
        justify-content: space-between;
    }
    &__img{
        height: 250px;
        width: 250px;
    }
    &__range{
        flex: 1 0 200px;
        max-width: 360px;
        &_inner{
            background-color: black;
            color: white;
        }
    }
}