.itemList {
    transition: all 0.5s linear;
    &__wrapper{
        background-color: rgb(44, 44, 44);
        color: white;
    }
    &__path{
        border-radius: 10px;
        border: 2px solid white;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
    &__icon{
        cursor: pointer;
    }
    &__text{
        flex: 1 1 200px;
    }
    &__func{
        border-radius: 10px;
        border: 2px solid white;
    }
    &__img {
        flex: 0 0 110px;
        
        img {
            border: 2px solid white;
            height: 180px;
            width: 180px;
        }
        
    }
    &__text {

    }

}
