@import '../../styles/animation.scss';

.items-enter {
    opacity: 0;
}

.items-enter-active {
    opacity: 1;  
    background-color: blue;
}

.items-exit {
    opacity: 0;
}

.items-exit-active {
    transition: all 500ms ease-in;
    background-color: rgb(255, 0, 0);
    animation: 0.5s endItems forwards;
    opacity: 0;
    
}



