.targetPage{
    &__wrapper{
        width: 400px;
        height: 400px;
        border: 2px solid black;
        overflow: hidden;
    }
    &__slider{
        height: 100%;
        width: 100%;
        display: flex;
        &_item{
            height: 100%;
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
        }
    }
}