.targetPage {
}

.readyTrenigs {
    [data-area="4"] {
        height: 60px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, minmax(200px, 400px));
        grid-template-areas: 
        "headerA headerA sidepanel"
        "contentA contentA sidepanel"
        "footer footer sidepanel";
    }
    &__header {
        grid-area: headerA;
        background-color: green;
        //grid-column: 1 / 3;
    }
    &__content {
        grid-area: contentA;
        background-color: rgb(13, 15, 128);
    }
    &__sidepanel {
        // grid-column: 3 / 4;
        // grid-row: 1 / 3;
        grid-area: sidepanel;
        background-color: rgb(128, 109, 0);
    }
    &__footer {
        grid-area: footer;
        background-color: rgb(117, 0, 128);
        // grid-row: 3 / 4;
        // grid-column: 1 / 4;
    }
}
