// флексы

/// единичные правила
.bFlexWrap{
    flex-wrap: wrap;
}
.bFlexJCSA {
    justify-content: space-around;
}
.bFlexJCSC {
    justify-content: center;
}
.bFlexJCSB {
    justify-content: space-between;
}
.bAlignItems {
    align-items: center;
}

//// множественные

.bFlex {
    display: flex;
    gap: 10px;
}

.bFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bFlexColumn{
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.bFlexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


// размеры

.bFlexIconBig {
    flex: 0 0 60px;
}
.bFlexIconSmall {
    flex: 0 0 30px;
}
.bFlexSizeAllWidth150 {
    flex: 1 1 150px;
}
.bFlex10300px {
    flex: 1 0 300px;
}