@import "./baseVisual.scss";
@import "./baseFontsSize.scss";
@import "./baseIcons.scss";
@import "./baseAnimation.scss";
@import "./baseClassesPosition.scss";
@import "./baseFontsSizeMini.scss";

.footerDown {
    min-height: 100vh;
}

.basePositionBlock {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
}

.basePositionElement {
    padding: 10px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
.basePositionElementNoMT {
    @extend .basePositionElement;
    margin-top: 0px;
}

.basePositionElementNoMT {
    @extend .basePositionElement;
    margin-top: 0;
}

.baseFlex {
    display: flex;
    gap: 20px;
}

.baseFlexGapNoJC {
    @extend .baseFlex;
    flex-wrap: wrap;
}

.baseFlexGap {
    @extend .baseFlex;
    justify-content: space-around;
}
.baseFlexGapSB {
    @extend .baseFlex;
    justify-content: space-between;
}

.baseFlexGapWrap {
    @extend .baseFlexGap;
    flex-wrap: wrap;
}

.baseFlexGapWrapSpaceAround {
    @extend .baseFlex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.baseFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseImgCover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.baseFlexColumn {
    display: flex;
    flex-direction: column;
}

.baseFlexColumnCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.basePaddingBottom {
    padding-bottom: 20px;
}

.baseGridTwoColumn {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 20px;
}

// .logo * {
//     fill: red;
// }
