@import './baseFlex.scss';

.bBlock {
    padding: var(--paddingBlock);
}

.bElement {
    padding: var(--paddingElement);
}
.bElementSmall {
    padding: var(--paddingElementSmall);
}

// единичные правила
.bMarginTop {
    margin-top: 10px;
}
.bMarginTop0 {
    margin-top: 0px;
}

.bPaddingLeft {
    padding-left: 10px;
}

.bTransition {
    transition: all 0.5s linear;
}

.bInlineBlock {
    display: inline-block;
}

// размеры 

.bSizeIconVeryBig {
    width: 120px;
    height: 120px;
}
.bSizeIconVeryBigFlex {
    flex: 0 0 120px;
}
.bSizeIconBig {
    width: 60px;
    height: 60px;
}

.bSizeIconSmall {
    width: 30px;
    height: 30px;
}

.bImgCover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
// стилистика
.bBorderRadius {
    border-radius: var(--borderRadius);
}
.bBorderDifferent {
    border-radius: 40px 20px 60px 15px;
}

.bBoxShadow {
    box-shadow: 5px 15px 15px 3px black, inset 5px 5px 10px 2px rgb(141, 136, 136);
}
.bBoxShadowMini {
    box-shadow: 5px 15px 15px 3px rgb(90, 88, 88);
}

.bBorderSolid {
    border: 2px solid black;
}

.bTransformRotate180{
    transform: rotate(130deg);
}

.bPaddingLeft0{
    padding-left: 0;
}
.bPaddingLeft10{
    padding-left: 10px;
}
.bPaddingBottm0{
    padding-bottom: 0;
}
.bPaddingTop0{
    padding-top: 0;
}


