@import-normalize;
/* сбросил стили */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import "./baseClasses.scss";
@import "./Transition.scss";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
        text-decoration-thickness: none;
        display: inline-block;
    }
    font-family: "Roboto Condensed", sans-serif;

    // ширина контейнера
    --conteinerMaxWidth: 968px;

    // базовый паддинг
    --paddingBlock: 25px 15px 15px 15px;
    --paddingElement: 15px;
    --paddingElementSmall: 10px;

    // базовый цвет шрифта контента
    --colorContent: black;
    // базовый цвет шрифта контента
    --colorTitle: black;
    // базовый цвет сабтайтла
    --colorSubtitle: grey;

    // базовый цвет бекграунта
    --colorBackround: white;

    /// базовый бордер радиус
    --borderRadius: 20px;
}

.container {
    max-width: var(--conteinerMaxWidth);
    margin: 0 auto;
    
}
