.tuning{
    position: relative;
    &__item{
        background-color: black;
        padding: 10px;
        color: white;
        border-radius: 50%;
        cursor: pointer;
    }
    &__delete{
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }
    &__img{
        flex: 1 0 200px;
        &_inner{
            height: 90%;
        }
    }
    &__weigth{
        max-height: 0px;
        overflow: hidden;
        transition: all 0.5s linear;
        &_active{
            max-height: 500px;
        }
    }
}