.targetRange{
    justify-content: space-between;
    &__info{
        flex: 1 1 380px;
        align-self: center;
    }
    &__bar{
        flex: 1 1 380px;
    }
    &__progress{
        width: 275px;
    }
}