
.itemTrenings {
    &__date, &__name{
        align-self: center;
        flex: 0 0 170px;
    }
    &__hint{
        min-width: 135px;
        color: white;
    }
    &__item{
        cursor: pointer;
    }
    &__exercise{
        // max-width: 300px;
        flex: 1 0 100px;
    }
    &__name{
        flex: 0 0 100px;
    }
    &__func{
        flex: 1 1 250px;
    }
    &__past{
        background-color: black;
        color: white;
    }

}
