.flipItem {
    position: relative;
    &__size{
        position: relative;
        width: 280px;
        height: 330px;
        border-radius: 20px;
    }
    &__wrapper {
        height: 330px;
        position: relative;
        perspective: 1000px;
        border-radius: 20px;
    }
    &__img {
        height: 80%;
        border-radius: 20px;
    }
    &__delete {
        position: absolute;
        top: -18px;
        right: -21px;
        cursor: pointer;
        &_color {
            fill: rgb(219, 50, 50);
        }
    }
    &__front {
        position: relative;
        img {
            height: 100%;
            border-radius: 15px 15px 0 0;
        }
    }
    &__name {
        text-align: center;
        padding: 10px;
    }
    &__front,
    &__back {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s linear;
        backface-visibility: hidden;
        border: solid 4px black;
        border-radius: 20px;
    }
    &__front {
        //transform: rotateY(180deg);
        width: calc(100% - 8px);
        height: calc(100% - 8px);
    }
    &__back {
        width: calc(100% - 38px);
        height: calc(100% - 38px);
        transform: rotateY(180deg);
        justify-content: flex-start;
        &_desckr {
            flex: 1 0 auto;
            border: 2px solid black;
            border-radius: 20px;
        }
        &_parts {
            text-align: center;
            padding: 5px 10px;
            border: 2px solid black;
            border-radius: 20px;
        }
    }
    &__hoverBack {
        &:hover {
            .flipItem__front {
                background-color: rgb(143, 140, 140);
            }
            transition: all 0.5s linear;
            transform: translate(0, -10px);
        }
    }
    &__coup {
        &:hover {
            .flipItem__front {
                transform: rotateY(180deg);
            }
            .flipItem__back {
                transform: rotateY(360deg);
            }
        }
    }
}
