.burger {
    &__wrapper {
        width: 60px;
        height: 60px;
        padding: 5px;
        position: relative;
        overflow: hidden;
        &:hover{
            .burger__one, .burger__two, .burger__three{
                background-color: red;
            }
        }
    }
    &__one,
    &__two,
    &__three {
        height: 8%;
        width: 90%;
        background-color: white;
        position: absolute;
        border-radius: 5px;
        right: 50%;
        transform: translate(50%);
        transition: all 0.5s linear;
    }
    &__one {
        top: 20%;
    }
    &__one_active{
        transform: rotate(45deg);
        right: 5%;
        top: 45%;
    }
    &__two {
        top: 45%;
    }
    &__two_active{
        right: 200%;
    }
    &__three {
        bottom: 20%;
    }
    &__three_active{
        transform: rotate(-45deg);
        right: 5%;
        top: 45%;
    }
}
